<h2>List of the posts in your blog</h2>
<%= link_to "Sign Out" , destroy_blogger_session_path, :method => :delete %>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th colspan="3">Operations</th>
  </tr>

<% @user.each do |f| %>
  <tr>
    <td><%= f.username %></td>
    <td><%= f.blog_title %></td>
    <td><%= f.content %></td>
    <td><%= link_to 'Show', blog_path(f), :method => 'get' %></td>
    <td><%= link_to 'Edit', edit_blog_path(f) %></td>
    <td><%= link_to 'Destroy', blog_path(f), :method => 'delete' %></td>

  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Post',  new_blog_path %>

