<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Title:</b>
  <%= @user.blog_title %>
</p>

<p>
  <b>Post:</b>
  <%= @user.content %>
</p>



<h2>Add your comment:</h2>
<div id="show_comment">
  <%= render :partial=> 'comment' %>
</div>

<%= form_for(@user, :url =>  create_comment_blog_path(@user)) do |f| %>

    <%=f.fields_for @comments do |c| %>

  <div id="username">
    <%= c.label :Username %>
    <%= c.text_field :username %>
  </div>

  <div id="content">
    <%= c.label :Content %>
    <%= c.text_field :content %>
  </div>
<% end %>

 <div id="submit_comment">
   <%=	f.submit  %>
 </div>

 
<% end %>